html {
    font-family: sans-serif;
}


/* Color each language element */
#ruby {background-color: #DF4638;}
#python {background-color: #8DAD53;}
#js {background-color: #6D4596;}
#hyper {background-color: #F7CC77;}
#css {background-color: #2454DB;}
#aframe {background-color: #DB4260;}
#p5 {background-color: #E88A9F;}
#bootstrap {background-color: #7157AD;}
#java {background-color: #CA2B1D;}
#swift {background-color: #ED7B46;}
#csharp {background-color: #1F5997;}
#go {background-color: #8ACCDB;}


#grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 2fr 1fr;
}
#ruby {
    grid-column: span 3;
  }
#js {
    grid-row: span 5;
}
#go {
    grid-column: span 3;
    grid-row: span 5;
}

/* rem is the Font size of the root element. */


.cell {
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    text-align: center;
 
}

